.register-form{
    margin: 0 auto;
    width: 50%;
}
.register-form h2{
    text-align: center;
    margin-top: 6px;
}

.register-form input{
    display: block;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 19px;
    margin-bottom: 15px;
}